Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
Pillow
Werkzeug
email-validator
python-dotenv
Flask-Bcrypt
gunicorn
# Data Analytics Libraries
pandas
numpy
matplotlib
scikit-learn
wordcloud